# -------------------------
# Environment Variables
# -------------------------
.env
.env.*

# -------------------------
# Python Cache
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtual Environments
# -------------------------
venv/
env/
.venv/

# -------------------------
# Output Files (Generated Reports)
# -------------------------
output/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE Files
# -------------------------
.vscode/
.idea/

# -------------------------
# Temporary Files
# -------------------------
*.tmp
*.temp

# -------------------------
# PDFs to Ignore
# -------------------------
Main DDR.pdf
Sample Report.pdf
Thermal Images.pdf

# -------------------------
# codes to Ignore
# -------------------------
test.py